<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Nombre de usuario</label>
        <input class="form-control" type="text" formControlName="username">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input class="form-control" type="text" formControlName="nombre">
    </div>
    <div class="mb-3">
        <label class="form-label">Apellidos</label>
        <input class="form-control" type="text" formControlName="apellidos">
    </div>
    <div class="mb-3">
        <label class="form-label">Fecha de nacimiento</label>
        <input class="form-control" type="date" formControlName="fecha_nacimiento" placeholder="aaaa-dd-mm">
    </div>
    <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input class="form-control" type="password" formControlName="password">
    </div>
    <div class="mb-3">
        <label class="form-label">Repite contraseña</label>
        <input class="form-control" type="password" formControlName="repit_password">
    </div>
    <input type="submit" value="Enviar" class="btn btn-block btn-dark">
</form>