form{
    padding-bottom: 10%;
}
input.ng-valid.ng-touched{ 
    border: 1px solid lightgreen;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.error{
    color: red;
    font-size: 13px;
}
.container{
    width:80% ;
}
