<div class="container-hero">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
            <div class="menu">
                <ul>
                    <li data-aos="fade-right" data-aos-duration="3000"><a [routerLink]="['/home']">Photravel</a>
                    </li>
                    <li data-aos="fade-right" data-aos-duration="3000"><a [routerLink]="['/about']">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-4" data-aos="zoom-in-right" data-aos-duration="2000"
            data-aos-delay="200">
            <figure class="img-fluid primeraImagen">
            </figure>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 offset-3" data-aos="slide-left" data-aos-duration="3000">
            <h4>Encuentra a tus fotógrafos/as</h4>
            <app-map></app-map>
        </div>
    </div>
</div>
<div class="container-segundo">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-4" data-aos="zoom-in-right" data-aos-duration="2000" data-aos-delay="200">
            <figure class="segundaImagen">

            </figure>
        </div>
        <div class="col-12 col-md-8 col-lg-4" data-aos="zoom-in-right" data-aos-duration="2000" data-aos-delay="200">
            <figure class="terceraImagen">

            </figure>
        </div>
        <div class="col-12 col-md-8 col-lg-4" data-aos="zoom-in-right" data-aos-duration="2000" data-aos-delay="200">
            <figure class="cuartaImagen">
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-4" data-aos="zoom-in-right" data-aos-duration="2000" data-aos-delay="200">
            <figure class="quintaImagen">
            </figure>
        </div>
        <div class="col-12 col-md-8 col-lg-4" data-aos="zoom-in-right" data-aos-duration="2000" data-aos-delay="200">
            <figure class="sextaImagen">
            </figure>
        </div>
        <div class="col-12 col-md-8 col-lg-4" data-aos="zoom-in-right" data-aos-duration="2000" data-aos-delay="200">
            <figure class="septimaImagen">
            </figure>
        </div>
    </div>
</div>