<div class="container">
    <div class="row">
        <div class="col-12">
            <input placeholder="Filtra por ciudad" type="text" class="form-control" name="filterCity"
                [(ngModel)]="filterCity" />
            <div class="scroll">
                <div class="col-12 col-s-7" *ngFor="let user of photographers | filter: filterCity">

                    <div class="card horizontal">
                        <!-- <div class="card-image">
                        <img src="https://lorempixel.com/100/190/nature/6">
                        </div> -->
                        <div class="card-stacked">
                            <div class="card-content">
                                <h2 class="header">{{user.nombre}} {{user.apellidos}}</h2>
                                <p>{{user.description}}</p>
                                <p><img src="../../../assets/imagenes/www.png" /> <a [href]="user.web"
                                        target="_blank">{{user.web}}</a></p>
                                <p><img src="../../../assets/imagenes/map.png" /> {{user.ubication}}</p>
                            </div>
                            <div class="card-action">
                                <a [routerLink]="['/message/', user.idphotographer]" class="btn btn-dark">Contactar</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>