/* .row{
    padding-top: 20px;

}
.col-4{
    border: 1px solid black;
    height: auto;
    color: wheat;
}
.col-8{
    border: 1px solid black;
    height: auto;
    position: relative;
}
h3{
    width: 100%;
    background-color: black;
}
input{
    width: 100%;
    border-radius: 10px;
   
}
.enviar{
    position: absolute;
   bottom: 10%;
} */
#mensajes{
    min-width:300px;
  min-height:40px;
  display:block;
  color:white;
  margin:5px;
  background:blue;
}
.mensajes{
    color : #ffffff;
    padding : 4px;
    height : 600px;
    overflow : auto; 
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.chat{
    background: #1d61c2;
    width: 100%;
    /* min-width: 250px; */
    height: 100vh;
    display: flex;
}
/* .columna-1{
    flex:1;
} */
.columna-2{

    background:#3874c9;
}
.msg-row{
    /* display:flex;
    align-items: center; */
    margin: 40px;
}
.msg-text{
    background:rgba(255, 255, 255, 0.1);
    padding:20px 40px;
    border-radius: 8px;
 
    font-weight: 300;
}
.msg-text h2{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 10px;
}
.columna-1 input{
    border: 0;
    outline: none;
    padding: 20px 40px;
    background: #3874c9;
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
}
#btn{
    background-color: black !important;
    color: white;
    
  
}
::placeholder{
    color: #fff;
}
.columna-2 h3{
    text-align: center;
    margin-top: 40px;
    font-weight: 400;
}
.columna-2 ul{
    list-style: none;
    padding: 30px;
}
.columna-2 ul li{
padding: 5px 0;
}
.col-2 ul li:hover{
    background:#1967d3 ;
}
form{
    position: absolute;
    width: 58%;
    bottom: 0;
}


