<div class="container">
    <div class="chat">
        <div class="row">
            <div class="columna-1 col-8" *ngIf="idphotographer">
                <div class="msg-row">
                    <div class="msg-text">
                        <h4>Mensajes enviados por usuario</h4>
                        <label></label>
                        <!-- <p *ngFor="let recibidos of usuarioRecibe " {{recibidos | json}}>
                            {{recibidos}}
                        </p> -->
                    </div>
                </div>
                <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <div class="enviar">
                        <input type="text" cols="30" rows="10" placeholder="Escribe el mensaje"
                            formControlName="message" />
                        <input type="submit" value="Enviar" id="btn" class="btn btn-dark">
                    </div>
                </form>
            </div>
            <div class="columna-2 col-4">
                <h3>Mensajes Recibicdos</h3>
                <div class="mensajes">
                    <div>
                        <ul>
                            <li *ngFor="let message of mensajesRecibidos">{{message | json }}</li>
                            <li>{{message}}</li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>