<!-- <div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Usuarios</h3>
            <div class="container">
                <div class="titulo">
                    <h5>Nombre usuario</h5>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h3>Mensajes</h3>
            <div class="container">

            </div>
            <div class="enviar">
                <input type="text">
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="chat">
        <div class="col-1">
            <div class="msg-row">
                <div class="msg-text">
                    <h2>Natalia Casilda</h2>
                    <p>Hola que pasa</p>
                    <!-- <div>
                        <img src="" alt="" class="msg-img">
                    </div> -->
                </div>
            </div>
            <div class="msg-row msg-row2">
                <div class="msg-text">
                    <h2>Marina Casilda</h2>
                    <p>Hola que pasa</p>
                    <!-- <div>
                        <img src="" alt="" class="msg-img">
                    </div> -->
                </div>
            </div>
            <input type="text" placeholder="Escribe el mensaje" />
        </div>
        <div class="col-2"></div>
    </div>

</div>