<div class="container">
    <div class="row">
        <button *ngIf="!activo" class="btn btn-dark" (click)="mostrarParrafo()">Lista</button>
        <img *ngIf="activo" src="../../../assets/imagenes/map.png" class="map" (click)="mostrarParrafo()">
    </div>
    <div>
        <div class="row" *ngIf="activo">
            <div class="col-12 col-sm-12 col-md-4 col-lg-6">
                <app-map-photogtapers></app-map-photogtapers>
            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-6">

                <app-photographer></app-photographer>

            </div>
        </div>
        <div class="row" *ngIf="!activo">
            <div class="col-12 col-12">
                <div>
                    <app-map-lista></app-map-lista>
                </div>
            </div>
        </div>
    </div>
</div>