<div class="container">
    <button class="btn btn-dark" (click)="mostrarParrafo()">{{activo ? 'mapa' : 'lista'}}</button>

    <select>
        <option value="0">Filtros</option>
        <option value="1">Valoraciones</option>
        <option value="2">Precio</option>
    </select>
    <div>
    </div>
</div>
<div>
    <div class="row" *ngIf="activo">
        <div class="col-12 col-sm-12 col-md-4 col-lg-">

            <iframe src="" frameborder="0"></iframe>
            <app-map-photogtapers id="map"></app-map-photogtapers>
        </div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-6">
            <app-photographer></app-photographer>
        </div>
    </div>
    <div class="row" *ngIf="!activo">
        <div class="col-12 col-12">
            <div>
                <app-map-photogtapers></app-map-photogtapers>
            </div>
        </div>
    </div>
</div>