<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="col s12 m7">
                <h2 class="header">{{photographer.nombre}}</h2>
                <div class="card-horizontal">
                    <div class="card-image">
                        <img src="https://lorempixel.com/100/190/nature/6">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>{{photographer.description}}</p>
                            <p>Web: <a [href]="photographer.web" target="_blank">{{photographer.web}}</a></p>
                        </div>
                        <div class="card-action">
                            <a [routerLink]="['/message/', photographer.idphotographer]"
                                class="btn btn-dark">Contactar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>