<div class="container">
    <div class="row">
        <div class="col-4">
            <!-- <app-map class="mapa"></app-map> -->
        </div>
        <div class="col-7">
            <div class="col s12 m7">
                <h2 class="header">Nombre fotógrafo</h2>
                <div class="card-horizontal">
                    <!-- <div class="card-image">
                        <img src="https://lorempixel.com/100/190/nature/6">
                    </div> -->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Descripción</p>
                            <p>Web</p>
                        </div>
                        <div class="card-action">
                            <a [routerLink]="['/message']" class="btn btn-dark">Contactar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>