<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-6">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="formulario">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" formControlName="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input class="form-control" type="password" formControlName="password">
                </div>
                <input type="submit" value="Entrar" class="btn btn-block btn-dark">
            </form>
            <input type="submit" class="btn btn-block btn-dark" value="Registrarse" [routerLink]="['/register']">
            <!-- <div class="error" *ngIf="error !=='' ">
                {{error}}
            </div> -->
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
            <div id="top">
                <div class="header-content container p-b-2">
                    <div class="row bg-white">
                        <div>
                            <h1 class="p-t-2 m-b-3">
                                <a href="">
                                    Hola,<br>
                                    Somos<br>
                                    <span class="typing-words">
                                        PhoTravel
                                        <!-- <div class="parrafo">
                                            <span>expertos</span>
                                            <span>en contratar</span>
                                            <span>fotógrafos/as</span>
                                        </div> -->
                                    </span>
                                </a>
                            </h1>
                            <!-- <h2>This is creative.</h2> -->
                        </div>
                        <!-- <div class="col-md-2 p-t-2 p-b-2">
                            <blockquote class="blockquote">
                                <h6 class="text-xs-right small"><a href="" class="text-faded">Don't Try so Hard.</a>
                                </h6>
                            </blockquote>
                        </div> -->
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>