<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-6">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="formulario">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" formControlName="email">
                    <p class="error" *ngIf="checkError('email', 'required')">El campo es requerido</p>
                    <p class="error" *ngIf="checkError('email', 'requiredTrue')">Error de usuario y/o password</p>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input class="form-control" type="password" formControlName="password">
                    <p class="error" *ngIf="checkError('password', 'required')">El campo es requerido</p>
                </div>
                <input type="submit" value="Entrar" class="btn btn-block btn-dark">
            </form>
            <a type="submit" [routerLink]="['/register']">Si no tiene cuenta</a>
            <!-- <div class="error" *ngIf="error !=='' ">
                {{error}}
            </div> -->
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
            <div id="top">
                <div class="header-content container p-b-2">
                    <div class="row bg-white">
                        <div>
                            <h1 class="p-t-2 m-b-3">
                                <a href="">
                                    Hola,<br>
                                    Somos<br>
                                    <span class="typing-words">
                                        PhoTravel
                                    </span>
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>