.container{
    display: static;
    scroll-behavior: auto;
}
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

body {
    font-family: 'PT Mono';
    color: #171717;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}

@media (max-width:768px) {
    h1 {
        font-size: 3rem;
    }
    .typing-words span:nth-child{
        display: none;
        max-width: 10px;
        font-size: 1rem
    }
    p{
      font-size: 24px;
    }
    /* .parrafo span{
      display: none;
    } */

}

.text-typing, .text-nowrap {
    white-space:nowrap;
    display: block;
}

a {
    color: #000;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    background-image: linear-gradient(180deg,transparent 75%,#fcf113 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    -webkit-transition: background-size .4s ease;
    transition: background-size .4s ease;
}

a:hover,
a:focus {
    color: #222;
    outline: 0 !important;
    background-size: 100% 100%;
    text-decoration: none;
}

/* .typing-words span {
    text-indent: 20px;
    position: absolute;
	  overflow: hidden;
	  white-space: nowrap;
	  color: #555;
    visibility: hidden;
    border-right: 4px solid transparent;
    max-width: 26rem; width of widest string
    height: auto;
} */
/* steps is number of chars-1 */
/* .typing-words span:nth-child(1) {
	animation: typing 0.7s steps(5), typingReverse 0.7s steps(5) 0.7s, blink-wait 1s step-end 1 1.4s, blink-caret 0.6s step-end infinite;
}
.typing-words span:nth-child(2) { 
	animation: typing 0.7s steps(5) 2.4s, typingReverse 0.7s steps(5) 3.1s, blink-wait 1s step-end 1 3.8s, blink-caret 0.6s step-end infinite;
}
.typing-words span:nth-child(3) { 
	animation: typing 0.7s steps(5) 4.8s, typingReverse 0.7s steps(5) 5.5s, blink-wait 1s step-end 1 6.2s, blink-caret 0.6s step-end infinite;
}
.typing-words span:nth-child(4) { 
	animation: typing 0.7s steps(5) 7.2s, typingReverse 0.7s steps(5) 7.9s, blink-wait 1s step-end 1 8.5s, blink-caret 0.6s step-end infinite;
}

.typing-words span:nth-child(5) {  
	animation: blink-caret 0.6s step-end 7 9.5s, typing 1s steps(7) 9.5s forwards;
} */

/* @keyframes typing {
    from { width: 0; visibility: hidden; }
    to { width: 100%; visibility: visible; color: #000; }
}

@keyframes typingReverse {
    from { width: 100%; visibility: visible; color: #000; }
    to { width: 0; }
}

@keyframes blink-wait {
    from, to { width: 0; visibility: hidden; }
    30%, 60% { width: 45px; visibility: visible; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #999; }
} */

/*.wrapper {
  height: 100vh; 
  /*This part is important for centering*/

  /* align-items: center;
  justify-content: center;
    display: flex;
}

.typing-demo {
  width: 70ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 30px;
}
p{
  border-top: 0;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;
  background-color: #121212;  
}

p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  position: absolute;
  right: 10px;
}

/* Animation */
p {
  animation: animated-text 4s steps(17,end) 1s 1 normal both,
             animated-cursor 600ms steps(17,end) infinite;
}

/* text animation */



/* body{
  padding: 40px;
  background-color: #c13b17;  
} */

h2 {
  border-right: solid 5px rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
}


h2 {
  animation: animated-text 4s linear 1s 1 normal both,
             animated-cursor 600ms linear infinite;
}



@keyframes animated-text{
  from{width: 0;}
  to{width: 456px;}
}



@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}