@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import 'bulma/css/bulma.css';


.container{
    display: static;
    scroll-behavior: auto;
}


body {
    font-family: 'PT Mono';
    color: #171717;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}

@media (max-width:768px) {
    h1 {
        font-size: 3rem;
    }
    .typing-words span:nth-child{
        display: none;
        max-width: 10px;
        font-size: 1rem
    }
    p{
      font-size: 24px;
    }
    /* .parrafo span{
      display: none;
    } */

}

.text-typing, .text-nowrap {
    white-space:nowrap;
    display: block;
}

a {
    color: #000;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    background-image: linear-gradient(180deg,transparent 75%,#fcf113 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    -webkit-transition: background-size .4s ease;
    transition: background-size .4s ease;
}

a:hover,
a:focus {
    color: #222;
    outline: 0 !important;
    background-size: 100% 100%;
    text-decoration: none;
}

/* input.ng-valid.ng-touched{ 
    border: 1px solid lightgreen;
} */
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.error{
    color: red;
    font-size: 13px;
}




