<div class="container">
    <input type="button" value="Perfil" class="btn btn-block btn-dark" [routerLink]="['/profile']">
    <input type="button" value="Cuenta" class="btn btn-block btn-dark" [routerLink]="['/profile-private']">
</div>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h4>Perfil</h4>
            <h6>Información pública</h6>
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <!-- <div class="mb-3">
                    <label class="form-label">Foto principal</label>
                    <input class="form-control" type="text" formControlName="username">
                </div> -->
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input class="form-control" type="text" formControlName="nombre">
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellidos</label>
                    <input class="form-control" type="text" formControlName="apellidos">
                </div>
                <input type="submit" value="Actualizar datos" class="btn btn-block btn-dark">
            </form>
            <input type="button" value="Photographer" class="btn btn-block btn-dark"
                [routerLink]="['/register-photographer']" />

        </div>
    </div>
</div>