<div class="container">
    <span> <a type="button" value="Perfil" [routerLink]="['/profile']">Perfil/ </a></span>
    <span id="span2"><a type="button" value="Cuenta" [routerLink]="['/profile-private']">Cuenta</a></span>
</div>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h4>Perfil</h4>
            <h6>Información pública</h6>
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <!-- <div class="mb-3">
                    <label class="form-label">Foto principal</label>
                    <input class="form-control" type="text" formControlName="username">
                </div> -->
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input class="form-control" type="text" formControlName="nombre">
                    <p class="error" *ngIf="checkError('nombre', 'required')">El campo es requerido</p>
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellidos</label>
                    <input class="form-control" type="text" formControlName="apellidos">
                    <p class="error" *ngIf="checkError('nombre', 'required')">El campo es requerido</p>
                </div>
                <input type="submit" value="Actualizar datos" class="btn btn-block btn-dark">
            </form>
            <a type="button" value="Photographer" [routerLink]="['/register-photographer']">Si desea registrarse como
                fotógrafo/a <img src="../../../assets/imagenes/camara-fotografica.png" alt="">
            </a>


        </div>
    </div>
</div>