<div class="container">
    <input type="button" value="Perfil" [routerLink]="['/profile']">
    <input type="button" value="Cuenta" [routerLink]="['/profile-private']">
</div>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h4>Perfil</h4>
            <h6>Información pública</h6>
            <form [formGroup]="formulario">
                <div class="mb-3">
                    <label class="form-label">Foto principal</label>
                    <input class="form-control" type="text" formControlName="username">
                </div>
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input class="form-control" type="text" formControlName="nombre">
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellidos</label>
                    <input class="form-control" type="text" formControlName="username">
                </div>

                <input type="submit" value="Actualizar datos" class="btn btn-block btn-dark">
            </form>

            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Photographer</label>
                    <br>
                    <label id="cbox1"><input type="checkbox" />Si</label>
                    <label id="cbox2"><input type="checkbox" />No</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ubicación</label>
                    <input class="form-control" type="text" formControlName="ubication">
                </div>
                <div class="mb-3">
                    <label class="form-label">Web / RRSS</label>
                    <input class="form-control" type="text" formControlName="web">
                </div>
                <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    <textarea class="form-control" rows="10" cols="50" formControlName="username"></textarea>
                </div>
                <input type="submit" value="Guardar" class="btn btn-block btn-dark">
            </form>
        </div>
    </div>
</div>