<div class="container">
    <div class="row col-12 col-md-6 offset-md-4">
        <h6>Busca a tus fotógrafos</h6>
        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Localización"
            autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>
    <div class="row col-10 col-md-4 offset-md-3">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <!-- <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
            </agm-marker> -->
            <agm-marker *ngFor="let photographer of photographers" [latitude]="photographer.lat"
                [longitude]="photographer.long">
                <agm-info-window>
                    <app-photographer-perfile [photographer]="photographer"></app-photographer-perfile>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
</div>